form {
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 5% 30%;

    background-color: #F7A072;
    border-radius: 10px;
}